:root {
  --primary-main: #673ab7;
  --secondary-main: #f44336;

  --margin-form-components: 1.3em;
  --width-form-components: 60%;
}
.centralize {
  margin: 0 auto !important;
}

.centralize-content {
  text-align: center;
}

body {
  background-color: #fafafa;
}
