:root {
  --primary-main: #673ab7;
  --secondary-main: #a8cf45;

  --margin-form-components: 1.3em;
  --width-form-components: 60%;
}
.centralize {
  margin: 0 auto !important;
}

.centralize-content {
  text-align: center;
}

body {
  background-color: #fafafa;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button:focus {
  outline: none;
}