body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
}

#root {
  height: 100%;
}

.App {
  height: calc(100% - 44px);
}

.timePicker input, .datePicker input {
  text-align: center;
}

.timePicker div hr, .datePicker div hr{
  border: none !important;
}
