/*body {
  margin: 58px 0 0 0;
  padding: 0;
  height: calc(100% - 58px);
  height: calc(-moz-available - 58px);
  height: calc(stretch - 58px);
  color: #000;
}

.timePicker input, .datePicker input {
  text-align: center;
}

.timePicker div hr, .datePicker div hr{
  border: none !important;
}*/
