.adicionar-rota .component:first-child {
    margin-top: 1.3em;
}

.root-adicionar-rota > .component{
    width: 60%;
    display: block;
    margin: 0 auto;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    max-width: 300px;
}

.adicionar-rota {
    display: flex;
    justify-content: center;
}

.adicionar-rota .wrap {
    display: flex;
    flex-direction: column;
}

.adicionar-rota .wrap .add-waypoints {
    margin-bottom: 1.3em;
    margin-top: -1.3em;
}

.adicionar-rota .custom-component {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.3em;
}

.adicionar-rota .btn-add-flow {
    float: right
}