.profile-motorista .content-radios {
    margin: 0 auto;
    width: fit-content;
    display: block;
    margin-top: 1.3em;
}

.profile-motorista .component {
    width: 200px;
    margin-top: 1.3em;
}

.profile-motorista .sou-motorista {
    margin: 0 auto;
    width: fit-content;
    display: block;
    margin-top: 1.3em;
}