.input > .label {
    width: 100%;
    color: var(--secondary-color);
    font-size: var(--text-size-normal);
}

.input > .label > .entry {
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    padding: 8px;
    font-size: var(--text-size-subtitle);  
}

.input > .label > .entry:focus {
    outline: none;
}