.gerenciar-carona-status {
    margin: 1.3em 0;
    display: flex;
    justify-content: center;
}

.gerenciar-carona-status .row {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.left-text,
.right-text {
    display: inline-block;
}

.left-text {
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    /* width: 35%; */
    display: block;
}

.right-text {
    margin-left: 1.3em;
    display: block;
}

.left-text::after {
    content: ':';
}