.gerenciar-carona-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    flex-wrap: nowrap;
    padding: 20px;
    justify-content: space-around;
}

#item-text {
    padding-left: 10px;
}
